In [ ]:
str = "bhaskar"
print (id(str))

137308185202336

In [ ]:
str1 = "hello"
str2 = "bhaskar"
print(id(str1)==id (str2))

False

In [ ]:
str1 = 15.1
a = "bhaskar"
b = 10
print(type(str1))
print(type(a))
print(type(b))

<class 'float'>
<class 'str'>
<class 'int'>

stings

In [ ]:
print("MAXY")

MAXY

In [ ]:
a = "maxy"
print(a)

maxy

In [ ]:
S = 'bhaskar'
S = S +"maxy"
print(S)

bhaskarmaxy

In [ ]:
var1 = "MAXY"
var2 = "SATYA"
print("".join([var1, var2]))

MAXYSATYA

In [ ]:
s ="bhaskar"
s=s*10
print(s)

bhaskarbhaskarbhaskarbhaskarbhaskarbhaskarbhaskarbhaskarbhaskarbhaskar

classes and objects

In [ ]:
class student:
  attr1 = "graduate"
  attr2 = "student"
  def fun(self):
    print("I'M A",self.attr1)
    print("I'M A",self.attr2)
college = student()
print(college.attr1)
college.fun()

graduate
I'M A graduate
I'M A student

In [ ]:
class person:
  def __init__(self,name):
    self.name = name
  def say_hi(self):
    print('hello, my name is',self.name)
p = person('john')
p.say_hi()

hello, my name is john

In [ ]:
modules

In [ ]:
import math
A= math.sqrt(16)
print(A)

4.0

In [ ]:
import math
print(math.sqrt(25))
print(math.pi)
print(math.degrees(2))
print(math.radians(60))
print(math.sin(2))
print(math.factorial(4))

5.0
3.141592653589793
114.59155902616465
1.0471975511965976
0.9092974268256817
24

In [ ]:
class person(object):
  def __init__(self , name):
    self.name = name
  def getname(self):
    return self.name
  def isemployee(self):
    return False
class employee(person):
  def isemployee(self):
    return True